@tailwind base;
@tailwind components;
@tailwind utilities;

.classic-gradient {
  background-image:
    radial-gradient(farthest-corner circle at 100% -25%,
      #f00 0%, 25%, #fb7100 100%);
}

.button {
  @apply inline-flex items-center px-2 py-1.5 rounded-md bg-red-700 text-white font-semibold
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fbfaf5
}